<html>
<head>
    <meta charset="utf-8">
    <title>GameServer</title>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
    <div>
        <!-- <video id='video' autoplay playsinline></video> -->
        <video id="video" autoplay></video>
    </div>
    
    <script type="text/javascript">
        var remoteConnections = {};  // { ID: [RTCPeerConnection, cand1, cand2 ...] }
        // const localStream = navigator.mediaDevices.getUserMedia({video: true, audio: true});


        const video = document.querySelector("video");
        var constraints = {
            video: true,
            audio: true
        };
        const startCaptrue = async => {
            return navigator.mediaDevices.getDisplayMedia(constraints)
                .catch(err => { console.error("Error:" + err); return null; });
        }
        // async function startCapture() {
        //     try {
        //         video.srcObject = await navigator.mediaDevices.getDisplayMedia(constraints);
        //     } catch(err) {
        //         console.error("Error: " + err);
        //     }
        // }
        startCaptrue()
            .then(stream => video.srcObject = stream)
            .then(stream => console.log('DisplayMedia', stream));



        // navigator.mediaDevices
        //     .getUserMedia(constraints)
        //     .then(stream => {
        //         video.srcObject = stream;
        //         // socket.emit("broadcaster");
        //     })
        //     .catch(error => console.error(error));

        window.onunload = window.onbeforeunload = function() {
            socket.close();
        };

        
        const socket = io('http://localhost:3000/stream');
        socket.on('connect', () => {
            console.log('browser connected to server socket');
        });

        socket.on('offer', (offer, id) => {
            console.log('offer received: ', offer);

            if( !remoteConnections[id] ){
                remoteConnections[id] = [];
            }
            remoteConnections[id] =  new RTCPeerConnection({configuration: {
                offerToReceiveAudio: true,
                offerToReceiveVideo: true
            }});
            
            let rc = remoteConnections[id];
                        
            // everytime there's new offer (client) -> add local stream to the connection using addTrack() passing stream/track data
            var stream = video.srcObject;
            stream.getTracks().forEach( (track) => {
                rc.addTrack(track, stream);
                // console.log(track, stream, rc);
            });
            
            rc.ondatachannel = e => {
                // data channel created
                rc.dc = e.channel;
                rc.dc.onmessage = e => console.log('msg form client: ', e.data);
                rc.dc.onopen = e => console.log(id + ': webRTC opened');

                // rc.dc.send('TEST msg');
            };

            rc.onicecandidate = (e) => {
                if(e.candidate)
                    socket.emit('candidate', e.candidate);
            };

            rc.setRemoteDescription(offer).then(a=>console.log('offer set: ' + id));
            
            rc.createAnswer( (answer)=> {
                rc.setLocalDescription(answer);
                console.log("answer created", answer);
                socket.emit('answer', answer);
            }, err => console.log(err));

            // rc.ontrack = e => {
            //     video.srcObject = e.streams[0];
            // };
        });

        socket.on('candidate', (candidate, id) => {
            remoteConnections[id].addIceCandidate(candidate);


            console.log('client joined', remoteConnections);
        });

        socket.on('webRTC_leave', (id) => {
            if(remoteConnections[id]){
                remoteConnections[id].close();
            
                delete remoteConnections[id];
                console.log('client left', remoteConnections);
            }
        });
    </script>
    
</body>
</html>
