<!-- https://github.com/ethanaobrien/emulatorjs -->
<html>
<head>
    <meta charset="utf-8">
    <title>js SNES Emulator</title>
    <script src="data/loader.js"></script>
</head>
<body>
    <div style="width:640px;height:480px;max-width:100%">
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = './Street_Fighter_II_Turbo_U.smc'; // Url to Game rom
        EJS_core = 'snes';
        EJS_mouse = false;  // SNES Mouse
        EJS_multitap = false;  // SNES Multitap
        EJS_pathtodata = 'http://localhost:5000/data/';

        // var clickplay = setInterval(() => {
        // if (typeof document.getElementsByClassName('ejs--73f9b4e94a7a1fe74e11107d5ab2ef')[0] !== 'undefined') {
        //     clearInterval(clickplay);
        //     document.getElementsByClassName('ejs--73f9b4e94a7a1fe74e11107d5ab2ef')[0].click();
        // }
        // }, 100);
    </script>
</body>
</html>