<html>
<head>
    <meta charset="utf-8">
    <title>socketIO_DEMO</title>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script> -->
    <script src="http://localhost:5000/socket.io/socket.io.js"></script>
</head>
<body>
    <div><button onclick="startWebRTC()">startWebRTC</button></div>

    <div>
        <button onclick="emitCommand('undef')">undef</button>
        <button onclick="emitCommand('punchL')">punchL</button>
        <button onclick="emitCommand('punchR')">punchR</button>
        <button onclick="emitCommand('jump')">jump</button>
        <button onclick="emitCommand('moveL')">moveL</button>
        <button onclick="emitCommand('moveR')">moveR</button>
        <button onclick="emitCommand('crouch')">crouch</button>
        <button onclick="emitCommand('skill1L')">skill1L</button>
        <button onclick="emitCommand('skill1R')">skill1R</button>
    </div>
    
    <script type="text/javascript">
        const socket = io('http://localhost:5000/room_1');
        socket.on('connect', () => {
            console.log('clinet connected to host server socket');
        });

        function startWebRTC() {
            let lc = new RTCPeerConnection();  // local connection
            let dc = lc.createDataChannel("channel");  // data channel

            dc.onmessage = (e) => console.log('msg arrived: ', e.data);
            dc.onopen = (e) => console.log('--connection opened between web browsers--');

            // print everyime ICE candidate detected (until no more ICE found)
            // lc.onicecandidate = (e) => console.log('new ICE candidate, reprint SDP: ', JSON.stringify(lc.localDescription));

            lc.createOffer( (offer) => {
                lc.setLocalDescription(offer);
                console.log(offer);
                socket.emit('offer', offer);
            }, err => console.log(err));
        }

        socket.on('forceDisconnect', () => {
            socket.disconnect();
            console.log('room is full... you are disconnected');
        });

        function emitCommand(cmd) {
            console.log(cmd);
            socket.emit('cmd', cmd);
        }

        socket.on("disconnect", (reason) => {
            if (reason === "io server disconnect") {    
                // the disconnection was initiated by the server, you need to reconnect manually    
                socket.connect();  
            }  
            // else the socket will automatically try to reconnect
        });
    </script>
    
</body>
</html>
